{% extends 'main.html' %}
{% load static %}

{% block css %}
   <style>
    /* body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
} */

.containers {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #04AA6D;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #04AA6D;
}

   </style>
{% endblock css %}

{% block body %}
<div class="containers">
    <h1>Login</h1>
    <form  method="post">
      {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
    </form>
    {% if messages%}
    {% for messages in messages %}
      <h3 class="danger"> {{messages}}</h3>
    {% endfor %}
    {% endif %}
    <p>Forgot password? <a href="#">Click here</a></p>
</div>
{% endblock %}